---
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import ArrowTop from "./icons/ArrowTop.astro";
import ArrowTROnIcon from "./icons/ArrowTROnIcon.astro";
import LinkCta from "./LinkCta.astro";

interface Props {
  autoridad: any;
  type: "primary" | "secondary";
}

const { type = "primary" } = Astro.props;

const { name, cargo, profesion, description, image } = Astro.props.autoridad;

const imagenDefault =
  "https://static.vecteezy.com/system/resources/previews/059/177/138/non_2x/in-hard-hat-holding-plan-in-hands-businessman-in-formal-clothes-is-on-the-construction-site-at-daytime-photo.jpg";
let imagenIng;
if(image){
  imagenIng = image.url.startsWith("http")
    ? image.url
    : `${import.meta.env.STRAPI_BASE_URL}${image.url}`;
} else {
  imagenIng = imagenDefault
}

let cardStyles = "";

if (type === "primary") {
  cardStyles = "bg-green-500/50 backdrop-blur-4xl text-green-50 border border-green-600";
} else if (type === "secondary") {
  cardStyles = "bg-gray-100/50 backdrop-blur-4xl text-green-900 border border-green-600";
} 


---

<article
  class="card group w-full h-full flex flex-col items-center justify-center gap-4
            rounded-2xl p-6 perspective-[1000px]">
  <div
    class="card-inner rounded-2xl w-full min-h-90 relative duration-500 transform-3d will-change-transform
        group-hover:transform-[rotateY(180deg)] cursor-pointer">
    <!-- Frente -->
    <div
      class=`${cardStyles} absolute p-4 w-full inset-0 flex flex-col 
      items-center gap-2 rounded-xl backface-hidden overflow-hidden`>
      <figure
        class="bg-gray-400 flex items-center w-full aspect-ratio justify-center rounded overflow-hidden">
        <img
          src={imagenIng}
          class="w-full h-full rounded object-cover transform-gpu will-change-transform "
          alt="Autoridad 1"/>
      </figure>
      <div class= { type === "primary" ? `border border-white p-4 rounded w-full h-fit` : `border border-green-600 p-4 rounded w-full h-fit`}>
        <h3 class="text-xl font-bold">{name}</h3>
        <span class="text-sm line-clamp-2">{cargo}</span>
      </div>
    </div>

    <!-- Dorso -->
    <div
      class="absolute w-full h-full inset-0 bg-green-700 text-green-50 border border-green-600 flex flex-col 
        justify-center rounded-xl transform-[rotateY(180deg)] backface-hidden
        px-6 py-8 prose prose-invert">
      <h3 class="text-lg font-bold uppercase">{name}</h3>
      <span class="text-sm text-gray-300">{profesion}</span>
      <span class="text-sm  text-gray-300">{cargo}</span>
      <p class="text-sm">
        {description}
      </p>
    </div>
  </div>
</article>

<script>
  const cardInner = document.querySelectorAll(".card-inner" ) as NodeListOf<HTMLElement>;
  cardInner.forEach((card) => {
    card.addEventListener("click", () => {
      card.classList.toggle("[transform:rotateY(180deg)]");
    })
  })
</script>
