---
import CardCourse from "./CardCourse.astro";
import HeadingText from "./HeadingText.astro";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import LinkCta from "./LinkCta.astro";
const { title, subtitle, description, cta, courses } = Astro.props;
---

<section id="featured-course" class="py-20 bg-gray-200">
    <div class="container mx-auto px-4">
        <HeadingText title={title} description={description} variant="green" />
        <div class="flex flex-col gap-4 my-8">
            {courses.map((course: any) => (
                <CardCourse {...course} />
            ))}
        </div>
        <div class="flex flex-wrap items-center justify-center mt-6">
            {
                cta.map((cta: any) => (
                    <LinkCta href={cta.href} label={cta.label} isExternal={cta.isExternal} type={cta.type}>
                        <ArrowRightIcon class="h-6 w-6 ml-2" />
                    </LinkCta>
                ))
            }
        </div>
    </div>
</section>