---
import ResolutionItem from "./ResolutionItem.astro";
import LinkCta from "./LinkCta.astro";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import HeadingText from "./HeadingText.astro";

const { title, description, cta, docs } = Astro.props;
---

<section id="featured-documents" class="md:pt-20 container mx-auto px-4 py-20">
  <HeadingText title={title} description={description} variant="green" />
  {
    description && (
      <p class="text-center text-sm md:text-base text-green-950/50 opacity-80 mb-4">
        {description}
      </p>
    )
  }
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
    {docs.map((doc: any) => <ResolutionItem data={doc} type="SECONDARY" />)}
  </div>
  {
    cta && (
      <div class="flex items-center justify-center mt-10">
        {cta.map(({ href, label, isExternal }: any) => (
          <LinkCta href={href} type="QUATERNARY" label={label} isExternal={isExternal} >
            <ArrowRightIcon class="h-6 w-6 ml-2" />
          </LinkCta>
        ))}
      </div>
    )
  }
</section>
