---
import { getPostsPage } from "../lib/strapi";
import CardArticle from "./CardArticle.astro";
import HeadingText from "./HeadingText.astro";
import LinkCta from "./LinkCta.astro";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";

const { data } = Astro.props;
if(!data) return
const { title, description, cta , articles = [] } = data;

const articlesRecent = await getPostsPage(1, 6);

---

<section id="featured-articles" class="container mx-auto px-4 py-20">
  <HeadingText title={title} description={description} variant="green" />
  
  <div class="md:py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      articlesRecent.data.map((article: any) => (
        <CardArticle
          {...article}
        />
      ))
    }
  </div>
  {
    cta && (
      <div class="flex items-center justify-center mt-6">
        {
          cta.map(({ href, label, variant, isExternal}: any) => (
            <LinkCta href={href} type={"QUATERNARY"} label={label} isExternal={isExternal}>
              <ArrowRightIcon class="h-6 w-6 ml-2" />
            </LinkCta>
          ))
        }
      </div>
    )
  }  
</section>
