---
import { STRAPI_BASE_URL } from "../lib/strapi";
import LinkIcon from "./icons/LinkIcon.astro";

const { data } = Astro.props;
const { logo, socialLinks, infoLinks, contactLinks } = data;

const logoUrl = logo.image.url.startsWith("http")
  ? logo.image.url
  : `${STRAPI_BASE_URL}${logo.image.url}`;

---

<footer class="bg-green-600 text-white w-full">
  <section
    class="container mx-auto px-4 py-10 md:py-20 flex flex-col md:flex-row justify-between md:items-center">
    <a href="/" class="max-w-fit flex justify-center items-center">
      <img
        src={logoUrl}
        alt="Logo"
        class="w-12 h-12 md:w-16 md:h-16 transform hover:scale-105 transition-transform"/>
      <span class="text-sm md:text-sm uppercase ml-2 font-bold">Colegio Público de <br> Ingenieros de Formosa</span>
    </a>
    <article class="mt-8 md:mt-0">
      <h3 class="mb-4 text-xl text-gray-200">Información</h3>
      <ul class="flex flex-col space-y-4">
        {
          infoLinks.map((info: any) => (
            <li class="text-sm md:text-base text-gray-300 hover:text-white transition-colors">
              <LinkIcon href={info.href} title={info.label} icon={info.icon} isExternal={info.isExternal} />
            </li>
          ))
        }
      </ul>
    </article>
    <article class="mt-8 md:mt-0">
      <h3 class="mb-4 text-xl text-gray-200">Contacto</h3>
      <ul class="flex flex-col space-y-4">
        {
          contactLinks.map((info: any) => (
            <li class="text-sm md:text-base text-gray-300 hover:text-white transition-colors">
              <LinkIcon href={info.href} title={info.label} icon={info.icon} isExternal={info.isExternal} />
            </li>
          ))
        }
      </ul>
    </article>
    <article class="mt-8 md:mt-0">
      <h3 class="mb-4 text-xl text-gray-200">Redes Sociales</h3>
      <ul class="flex flex-col space-y-4 justify-center md:items-center">
        {
          socialLinks.map((info: any) => (
            <li class="text-sm md:text-base text-gray-300 hover:text-white transition-colors">
              <LinkIcon variant="secondary" href={info.href} title={info.label} icon={info.icon} isExternal={info.isExternal} />
            </li>
          ))
        }
      </ul>
    </article>
  </section>
  <section class="w-full p-4 text-gray-200 bg-green-900 ">
    <div class="container mx-auto flex justify-between flex-col items-center md:flex-row">
       <p class="text-center text-sm md:text-base text-gray-400 mt-4">
      &copy; {new Date().getFullYear()} Colegio Público de Ingenieros de Formosa. Todos los derechos
      reservados.
    </p>
    <a class="text-center text-sm md:text-base italic text-gray-400 mt-4" href="https">Desarrollado por: <span class="font-bold font-mono">DEVPA.</span></a>
    </div>
  </section>
</footer>
