---
import BarMenu from "./icons/BarMenu.astro";
import Close from "./icons/Close.astro";
import { STRAPI_BASE_URL } from "../lib/strapi";
import LinkCta from "./LinkCta.astro";

const { logo, navItems, cta} = Astro.props.data
const logoUrl = logo.image.url.startsWith("http") ? logo.image.url : `${STRAPI_BASE_URL}${logo.image.url}`;
const logoLabel = logo.label

---

<header class="bg-green-600ssad text-white py-4 shadow">
  <div class="container mx-auto px-4 flex flex-row md:flex-row justify-between items-center">
    
    <a href="/" class="w-fit flex justify-center items-center">
      <img src={logoUrl} alt="Logo" class="w-12 h-12 md:w-16 md:h-16 transform hover:scale-105 transition-transform" />
      <span class="text-sm md:text-sm uppercase font-bold ml-2 text-green-600 text-shadow">Colegio Público de <br>Ingenieros de Formosa</span>
    </a>

    <div class="md:hidden text-green-600">
      <label for="menu" class="cursor-pointer relative">
        <input type="checkbox" name="menu" id="menu" class="absolute opacity-0" />
        <BarMenu id="menuOpen" class="w-10 h-10" />
        <Close id="menuClose" class="w-10 h-10 hidden"/>
      </label>
    </div>

    <nav id="navMenu"
      class="hidden md:block md:static absolute top-20 right-0 bg-gray-100 text-green-600
             md:bg-gray-400/15 bg:text-white md:text-gray-600 w-full md:w-fit py-0 md:px-1 md:py-1 md:rounded-full" >
      <ul class="flex flex-col md:flex-row md:gap-2 px-0">
        {
          navItems.map((link: any) => (
            <li class="transform hover:bg-green-600 hover:text-white transition-all border border-gray-200 p-4
             md:border-0 md:py-2 md:px-4 md:rounded-full cursor-pointer">
              <a href={link.href} target={link.isExternal ? "_blank" : "_self"}>{link.label}</a>
            </li>
          ))
        }
        
        {
          cta.map((cta: any) => (
            <li class="md:hidden transform hover:scale-105 transition-transform border border-gray-200 p-4
                md:border-0 md:p-0 cursor-pointer" >
                 <a href={cta.href} target={cta.isExternal ? "_blank" : "_self"}>{cta.label}</a>
            </li>
          ))
        }     
      </ul>
    </nav>

    <div class="hidden md:flex flex-row gap-2 items-center">
      {
        cta.map((cta: any) => (
          <LinkCta href={cta.href} label={cta.label} isExternal={cta.isExternal} type={cta.type} />
        ))
      }
    </div>
  
  </div>
</header>

<script>
  const checkbox = document.getElementById("menu") as HTMLInputElement;
  const menuMobile = document.querySelector("#navMenu") as HTMLElement;
  const menuOpen = document.querySelector("#menuOpen") as HTMLElement;
  const menuClose = document.querySelector("#menuClose") as HTMLElement;

  if (checkbox) {
    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        menuMobile.classList.remove("hidden");
        menuOpen.classList.add("hidden");
        menuClose.classList.remove("hidden");
      } else {
        menuMobile.classList.add("hidden");
        menuOpen.classList.remove("hidden");
        menuClose.classList.add("hidden");
      }
    });
  }
</script>