---
import "@splidejs/splide/dist/css/splide.min.css";
import LinkCta from "./LinkCta.astro";
import IngLogo from "./icons/IngLogo.astro";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";

const infoHero = Astro.props.data;
if(!infoHero || infoHero.length === 0) return redirect("/");

// console.log(infoHero);


---

<section class="splide h-fit md:h-100">
  <div class="splide__track">
    <ul class="splide__list">
      {
        infoHero.map((info: any) => (
           <li
              class={ `splide__slide bg-center h-full md:h-100 bg-no-repeat bg-cover aspect-square bg-green-200/50`}
              style={ info.image ? `background-image: url('${info.image.url}')` : ''}>
              <div class={`px-4 py-20 flex h-full items-center justify-center  ${info.overlay ? 'bg-green-700/30 text-white' : ''}`}>
                <div class="container text-center flex flex-col items-center">
                  
                  { 
                    info.heading.includes("IngeLink") ?
                     <a 
                       href="https://intranet.ingenierosformosa.com.ar/intranet/servicios/ingelink/"
                       class="flex justify-center items-center hover:scale-105 transition-transform"
                       target="_blank">
                       <IngLogo class="h-20 w-20 text-green-600 " />
                       <span class="text-4xl md:text-6xl text-green-600 text-center text-shadow animate-zoom-in">
                         { info.heading.split(" ")[0] }
                         <strong class="text-yellow-500 font-bold">{info.heading.split(" ")[1]}</strong> 
                       </span> 
                      </a> : 
                      <h2 class={`text-2xl md:text-4xl font-bold text-shadow-2xs uppercase
                        ${!info.overlay ? 'text-green-700' : ''}`}>{info.heading}
                      </h2>
                  }
                  <p class="my-4 mx-6 mx-text-sm text-shadow-neutral-600 md:text-lg max-w-3xl line-clamp-3">
                    {info.text}
                  </p>
                   {
                     info.cta &&
                     <LinkCta href={info.cta.href} label={info.cta.label} type="WITHBORDER">
                       <ArrowRightIcon class="h-6 w-6 ml-2" />
                     </LinkCta>
                   }
                </div>
              </div>
            </li>
        ))
      }
     
    </ul>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";
  import "../styles/global.css";

  new Splide(".splide", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    
  }).mount();


</script>
