---
import { YouTube } from "@astro-community/astro-embed-youtube"
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro"
import LinkCta from "../components/LinkCta.astro"
import HeadingText from "./HeadingText.astro";

const { title, description, cta, videos} = Astro.props;
---
   
   <section class="md:pt-20 container mx-auto px-4 py-20">
      <HeadingText title={title} description={description} variant="green" />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-10">
          {
            videos.map((video: any) => (
              <YouTube id={video.videoId} class="aspect-video mx-auto w-full rounded-2xl" 
              title={video.title} />
            ))
          }
      </div>
      <div class="flex items-center justify-center mt-6">
        {
          cta && (
            cta.map(({ href, label } : any) => (
              <LinkCta href={href} type="QUATERNARY" label={label}>
                <ArrowRightIcon class="h-6 w-6 ml-2" />
              </LinkCta>
            ))
          )
        }
      </div>
    </section>