---
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import DocumentIcon from "./icons/DocumentIcon.astro";
import DownIcon from "./icons/DownIcon.astro";
import LinkCta from "./LinkCta.astro";

const { data, type="PRIMARY" } = Astro.props;

const { title, description, slug, categories, publishedAt, linkDownload } = data;

const date = new Date(publishedAt).toLocaleDateString("es-AR")



let linkDetail =  linkDownload && linkDownload.includes(".pdf") ? `/document/${slug}` : `/docs/${linkDownload}`;
console.log("Documento pdf: ", linkDetail, linkDownload);
let styles = "";

if (type === "PRIMARY") {
  styles = "bg-green-700 hover:bg-green-700/80 transition-colors text-white";
} else if (type === "SECONDARY") {
  styles = "bg-gray-100 border border-gray-300 hover:border-green-700  transition-colors text-green-700";
}

---

<article class=`rounded-2xl py-8 px-6 shadow flex gap-4 items-center md:justify-center justify-between ${styles}`>
  <a href={linkDetail}>
    <DocumentIcon class="h-18 w-18 hover:scale-105 transition-transform" />
  </a>
  <a class="flex flex-col"
    href={linkDetail}>
    <h3 class="text-xl font-bold uppercase">
        {title}
    </h3>
    <span class="text-sm">{date}</span>
    <div class="hidden md:flex gap-4 justify-center items-center">
      <LinkCta href={linkDetail} label="Ver">
        <ArrowRightIcon class="h-6 w-6 ml-2" />
      </LinkCta>
      <LinkCta
        href={linkDownload}
        type={type === "PRIMARY" ? "TERTIARY" : "QUATERNARY"}
        isDownload
        isExternal
        label="Descargar">
        <DownIcon class="h-6 w-6 ml-2" />
      </LinkCta>
    </div>
    <div class="flex flex-col md:hidden gap-4 justify-center items-center">
      <LinkCta
        href={linkDownload}
        type={type === "PRIMARY" ? "TERTIARY" : "QUATERNARY"}
        isDownload
        isExternal>
        <DownIcon class="h-6 w-6" />
      </LinkCta>
       <LinkCta
        href={linkDetail}
        type={type === "PRIMARY" ? "TERTIARY" : "QUATERNARY"}>
        <ArrowRightIcon class="h-6 w-6" />
      </LinkCta>
    </div>
  </a>

</article>
