---
import HeadingText from "./HeadingText.astro";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import LinkCta from "./LinkCta.astro";
import ResolutionItem from "./ResolutionItem.astro";

const { title, description, resolutions, cta } = Astro.props;
---

<section class="bg-green-800 px-4 py-20">
  <div class="container mx-auto">
    <HeadingText title={title} description={description} variant="white" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-10">
      {
        resolutions.map((resolucion: any) => (
          <ResolutionItem data={resolucion} />
        ))
      }
    </div>
    {
      cta && (
        <div class="flex items-center justify-center mt-6">
          {cta.map(({ href, label }: any) => (
            <LinkCta href={href} type="TERTIARY" label={label}>
              <ArrowRightIcon class="h-6 w-6 ml-2" />
            </LinkCta>
          ))}
        </div>
    )}
  </div>
</section>
