---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { getAllPages, getPageInfo, getAllCourses, getAuthoritiesGrouped } from "../lib/strapi";
import HeaderPage from "../components/HeaderPage.astro";
import SectionAuthorities from "../components/SectionAuthorities.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import Courses from "../components/Courses.astro";
import SectionHeading from "../components/SectionHeading.astro";
import { findBlock } from "../utils";


const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

export const getStaticPaths = ( async () => {
  const slugs = await getAllPages();

  return slugs.map((data: any) => {
    return {
      params: {
        slug: data.slug,
      },
    };
  });
}) satisfies GetStaticPaths;

const { title, description, slug: pageSlug, cover, blocks} = await getPageInfo(slug);

const coverImg = cover ? cover.url : null;

const sectionAuthorities = await getAuthoritiesGrouped();

const sectionHeading = findBlock(blocks, "section-heading");

const sectionYoutube = blocks.filter(
  (block: any) => block.__component === "shared.youtube",
) || null;

const allCourses = title === "Cursos" ? await getAllCourses() : null;

---

<Layout title={title} description={description}>
  <HeaderPage title={title} slug={pageSlug} cover={coverImg} />
  <main class="bg-gray-200">

    { 
      sectionHeading && (
        <SectionHeading {...sectionHeading} />
      )
    }

    { slug === "autoridades" && (
        sectionAuthorities.map((data: any) => (
            <SectionAuthorities {...data} />
        ))
      )
    }

    {
      sectionYoutube.length > 0 && (
            <section class="md:pt-20 container mx-auto px-4 py-40">
              <h2 class="text-4xl text-green-950 text-center mb-12">
                Videos <span class="text-green-600 font-bold">Instructivos</span> 
              </h2>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                   {
                     sectionYoutube.map((data: any) => (
                       <YouTube id={data.videoId} class="aspect-video mx-auto w-full rounded-2xl" 
                       title={data.title} />
                     ))
                   }
              </div>
              
            </section>
      )
    }

    {
      allCourses && (
        <Courses courses={allCourses} />
      )
    }

  </main>
</Layout>
