---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { getAllPages, getPageInfo, getAllCourses, getAllAuthorities, getAuthoritiesByArea, getAuthoritiesGrouped } from "../lib/strapi";
import HeaderPage from "../components/HeaderPage.astro";
import SectionAuthorities from "../components/SectionAuthorities.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import LinkCta from "../components/LinkCta.astro";
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro";
import Courses from "../components/Courses.astro";
import SectionHeading from "../components/SectionHeading.astro";


const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

export const getStaticPaths = ( async () => {
  const slugs = await getAllPages();

  return slugs.map((data: any) => {
    return {
      params: {
        slug: data.slug,
      },
    };
  });
}) satisfies GetStaticPaths;

const infoPage = await getPageInfo(slug);

const coverImg = infoPage.cover ? infoPage.cover.url : null;

const sectionAuthorities = await getAuthoritiesGrouped();

const sectionHeading = infoPage.blocks.find(
  (block: any) => block.__component === "blocks.section-heading",
) || null;

const sectionYoutube = infoPage.blocks.filter(
  (block: any) => block.__component === "shared.youtube",
) || null;


const sectionDocs = infoPage.blocks.find(
  (block: any) => block.__component === "shared.docs",
) || null;

const allCourses = infoPage.title === "Cursos" ? await getAllCourses() : null;

---

<Layout title={infoPage.title} description={infoPage.description}>
  <HeaderPage title={infoPage.title} slug={infoPage.slug} cover={coverImg} />
  <main class="bg-gray-200">

    { 
      sectionHeading && (
        <SectionHeading {...sectionHeading} />
      )
    }

    { slug === "autoridades" && (
        sectionAuthorities.map((data: any) => (
            <SectionAuthorities {...data} />
        ))
      )
    }

    {
      sectionYoutube.length > 0 && (
            <section class="md:pt-20 container mx-auto px-4 py-40">
              <h2 class="text-4xl text-green-950 text-center mb-12">
                Videos <span class="text-green-600 font-bold">Instructivos</span> 
              </h2>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                   {
                     sectionYoutube.map((data: any) => (
                       <YouTube id={data.videoId} class="aspect-video mx-auto w-full rounded-2xl" 
                       title={data.title} />
                     ))
                   }
              </div>
              
            </section>
      )
    }

    {
      sectionDocs && (
        <section class="md:pt-10 container mx-auto px-4 py-40">
          <div class="flex items-center justify-center gap-4 flex-wrap max-w-3xl mx-auto">
            <iframe
            src={`https://docs.google.com/gview?url=${sectionDocs.document.file.url}&embedded=true`}
            class="w-full h-screen rounded-xl border border-green-600"></iframe>
          </div>
        </section>
      )
    }

    {
      allCourses && (
        <Courses courses={allCourses} />
      )
    }

  </main>
</Layout>
