---
import Layout from "../layouts/Layout.astro";
import { getHomePage, getPostsPage } from "../lib/strapi";
import { findBlock } from "../utils";
import Slider from "../components/HeroSlider.astro";
import FeaturedArticles from "../components/FeaturedArticles.astro";
import SectionResolution from "../components/SectionResolution.astro";
import AdOverlay from "../components/AdOverlay.astro";
import FeaturedCourses from "../components/FeaturedCourses.astro";
import FeaturedAuthorities from "../components/FeaturedAuthorities.astro";
import InstructionalVideos from "../components/InstructionalVideos.astro";
import FeaturedDocuments from "../components/FeaturedDocuments.astro";
import FeaturedContent from "../components/FeaturedContent.astro";
import SectionInstagram from "../components/SectionInstagram.astro";

const { title, description, blocks: pageBlocks } = await getHomePage();

const heroSlider = findBlock(pageBlocks, "slider");
const featuredArticles = findBlock(pageBlocks, "featured-articles");
const legalDocuments = findBlock(pageBlocks, "legal-documents");
const featuredAuthorities = findBlock(pageBlocks, "featured-authorities");
const featuredDocuments = findBlock(pageBlocks, "featured-documents");
const adOverlayData = findBlock(pageBlocks, "ad-overlay");
const featuredCourses = findBlock(pageBlocks, "featured-courses");
const instructionalVideos = findBlock(pageBlocks, "instructional-videos");
const featuredContent = findBlock(pageBlocks, "featured-content");

---

<Layout title={title} description={description}>
  
  <AdOverlay data={adOverlayData} /> 
  <Slider data={heroSlider} />

  <main class="bg-gray-200/90">
     
    <FeaturedContent data={featuredContent} /> 
    <SectionResolution data={legalDocuments} />
    <InstructionalVideos data={instructionalVideos} />  
    <FeaturedAuthorities data={featuredAuthorities} /> 
    <FeaturedDocuments data={featuredDocuments} /> 
    <FeaturedArticles data={featuredArticles} />
    <SectionInstagram />
    <FeaturedCourses data={featuredCourses} />

  </main>
</Layout>
