---
import Layout from "../layouts/Layout.astro";
import { getHomePage } from "../lib/strapi";
import { YouTube } from '@astro-community/astro-embed-youtube';
import Slider from "../components/HeroSlider.astro";
import LinkCta from "../components/LinkCta.astro";
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro";
import FeaturedArticles from "../components/FeaturedArticles.astro";
import ResolutionItem from "../components/ResolutionItem.astro";

const infoPage = await getHomePage();
const heroSlider = infoPage.blocks.find(
  (block: any) => block.__component === "blocks.hero-slider",
);
const slider = heroSlider ? heroSlider.HeroSlider : null;

const featuredArticles = infoPage.blocks.find(
  (block: any) => block.__component === "blocks.featured-articles",
);
const articles = featuredArticles
  ? featuredArticles?.articles.map((article: any) => article)
  : [];

const resolutionsSection =
  infoPage.blocks.find(
    (block: any) => block.__component === "blocks.resoluciones",
  ) || null;

const resolutions = resolutionsSection?.resolutions
  ? resolutionsSection.resolutions.map((resolucion: any) => resolucion)
  : [];

---

<Layout title={infoPage.title}>
  {slider && <Slider data={slider} />}
  <main class="bg-gray-300/50">
    {articles.length > 0 && <FeaturedArticles articles={articles} />}

    {
      resolutionsSection && (
        <section class="bg-green-800 px-4 py-20">
          <div class="container mx-auto">
            <h2 class="text-4xl font-bold text-green-100 text-center my-4">
              {resolutionsSection.title}
            </h2>
            {resolutionsSection.description && (
              <p class="text-center text-sm md:text-base text-gray-600">
                {resolutionsSection.description}
              </p>
            )}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-10">
              {resolutions.map((resolucion: any) => (
                <ResolutionItem resolucion={resolucion} />
              ))}
            </div>
            <div class="flex items-center justify-center">
              <LinkCta href={"/resoluciones"} type="TERTIARY" label="Ver ma패s">
                <ArrowRightIcon class="h-6 w-6 ml-2" />
              </LinkCta>
            </div>
          </div>
        </section>
      )
    }
    <section class="md:pt-20 container mx-auto px-4 py-20">
      <h2 class="text-4xl text-green-950 text-center mb-12">
        Videos <span class="text-green-600 font-bold">Instructivos</span> 
      </h2>
      <div class="flex items-center justify-center gap-4 flex-wrap">
          <YouTube id="AfSoQORGMFA" class="aspect-video mx-auto w-full rounded-2xl" 
           title={"M칩dulo de Reserva Sede Social"} />
           <YouTube id="2Dkwjg3wRiQ" class="aspect-video mx-auto w-full rounded-2xl" poster="" 
           title={"Plataforma Digital de Gesti칩n - Intructivo"} />
      </div>
      <div class="flex items-center justify-center mt-10">
        <LinkCta href="/instructivo" type="QUATERNARY" label="Ver Ma패s">
          <ArrowRightIcon class="h-6 w-6 ml-2" />
        </LinkCta>
      </div>
    </section>
  </main>
</Layout>
